<app-header></app-header>

<section class="relative min-h-screen px-4 pt-28 pb-16 text-center items-center">

  <h1 class="text-3xl font-bold text-[#555B6E] mb-4">À propos</h1>
  <div class="w-24 h-1 bg-[#89B0AE] rounded-full mx-auto mb-8"></div>

  <div class="max-w-3xl bg-white border border-[#89B0AE] rounded-2xl p-6 shadow-sm text-[#555B6E] leading-relaxed text-lg space-y-4 mx-auto">
    <p>
      Hello ! Moi c’est <strong class="text-[#89B0AE]">Benjamin</strong>, j’ai 24 ans et je suis récemment diplômé en développement d’applications à la <span class="italic">HELHa de Montignies-sur-Sambre</span>.
    </p>

    <p>
      Je suis passionné par le <strong>développement backend</strong>, en particulier avec <strong>Java</strong> et le framework <strong>Spring Boot</strong>. Côté frontend, je travaille principalement avec <strong>Angular</strong>.
    </p>

    <p>
      Curieux, créatif et toujours partant pour relever de nouveaux défis, je m’adapte facilement à mon environnement et j’adore apprendre en continu.
    </p>

    <p>
      Mon objectif : créer des applications robustes, performantes et bien pensées, tout en gardant l’utilisateur au cœur du projet.
    </p>
  </div>

  <div class="mt-8 flex flex-wrap justify-center gap-4">
    <a href="/assets/cv-benjamin.pdf" target="_blank" class="bg-[#89B0AE] text-white px-5 py-2 rounded-2xl hover:bg-[#FFD6BA] hover:text-[#555B6E] transition font-medium">
      Voir mon CV
    </a>
  </div>
</section>

<app-footer></app-footer>