<app-header></app-header>

<section class="min-h-screen px-4 pt-28 pb-20 text-center" style="background-color: #ECE9E9;">
    
  <h1 class="text-3xl font-bold text-[#555B6E] mb-4">Curiculum Vitae</h1>
  <div class="w-24 h-1 bg-[#89B0AE] rounded-full mx-auto mb-12"></div>

  <div class="max-w-4xl mx-auto bg-white border border-[#89B0AE] rounded-2xl shadow-sm p-6 text-left text-[#555B6E] space-y-8">

    <!-- Compétences -->
<div>
    <h2 class="text-2xl font-semibold mb-2">Compétences</h2>
    <ul class="flex flex-wrap gap-x-4 gap-y-2 list-none text-[#555B6E]">
      <li>Java / Spring Boot</li>
      <li>Php</li>
      <li>C# / .NET</li>
      <li>Angular / React</li>
      <li>SQL / Bases de données</li>
      <li>WordPress/ Odoo</li>
      <li>Suite Office</li>
    </ul>
  </div>

    <!-- Expériences -->
    <div>
      <h2 class="text-2xl font-semibold mb-2">Expériences Professionnelles</h2>
      <div class="space-y-4">
        <div>
          <h3 class="font-semibold">Société Belge d'Informatique Médicale (SBIM)</h3>
          <p class="italic text-sm">Stage – Février 2024 à Mai 2024</p>
          <p>Refonte, optimisation et automatisation du système de paie dans le cadre du projet Allyn Pay.</p>
        </div>
        <div>
          <h3 class="font-semibold">Cash Converters – Gosselies</h3>
          <p class="italic text-sm">2023 à 2025</p>
          <ul class="list-disc list-inside">
            <li>Accueil et conseils clients</li>
            <li>Gestion de la caisse et des stocks</li>
            <li>Application des politiques du magasin</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Formation -->
    <div>
      <h2 class="text-2xl font-semibold mb-2">Formation</h2>
      <ul class="list-disc list-inside space-y-2">
        <li><strong>Bachelier en Informatique – Développement d’applications</strong><br>HELHa – 2020 à 2025</li>
        <li><strong>Technicien en Informatique</strong><br>Aumôniers du travail – 2018 à 2020</li>
      </ul>
    </div>

    <!-- Langues -->
    <div>
      <h2 class="text-2xl font-semibold mb-2">Langues</h2>
      <p>Français : Langue maternelle</p>
      <p>Anglais : Niveau B1 (écrit, oral, compréhension)</p>
    </div>

    <!-- Contact -->
    <div>
      <h2 class="text-2xl font-semibold mb-2">Contact</h2>
      <p>📧 <a href="mailto:delsinnebenjaminpro@gmail.com" class="text-[#89B0AE] hover:text-[#FFD6BA] transition underline">delsinnebenjaminpro&#64;gmail.com</a></p>
      <div class="mt-4 flex justify-start space-x-4 text-2xl">
        <a href="https://www.linkedin.com/in/tonprofil" target="_blank" class="hover:text-[#FFD6BA]"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/tonpseudo" target="_blank" class="hover:text-[#FFD6BA]"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>