<app-header></app-header>

<section class="min-h-screen flex items-center justify-center px-4  text-center relative overflow-hidden">
  <div class="space-y-6 z-10">
    <h1 class="text-4xl md:text-5xl font-bold text-[#89B0AE] animate-slide-in">
      Bonjour, je suis <span class="text-[#555B6E]">Delsinne Benjamin.</span>
    </h1>

    <h2 class="text-xl md:text-2xl text-[#555B6E]">
      Développeur d'applications, créateur d'interfaces et passionné par le web.
    </h2>

    <p class="text-md md:text-lg text-[#555B6E] max-w-2xl mx-auto">
      Bienvenue sur mon portfolio !
      Explorez mon parcours, mes projets et trouvez un moyen de me contacter !   
    </p>
  </div>
</section>

<app-footer></app-footer>